!!! 5
html
    head
        style
            body {
                margin: 0px;
                padding: 0px;
                overflow: hidden;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -o-user-select: none;
                user-select: none;
                background-image: url(images/paper.jpg);
            }
            .toolbutton {
                position: fixed;
                left: 10px;
            }
            .button {
                height: 16px;
                width: 16px;
                padding: 2px;
                -webKit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                background-repeat: no-repeat;
                background-position: 2px 2px;
                border: 1px solid transparent;
            }
            .canvasbuttoncontainer {
                position: absolute;
                display: -webkit-box;
                display: -moz-box;
                display: box;
                background: white;
                padding: 1px;
                -webKit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
            .button.active {
                background-color: #FFF;
                border: 1px solid gray;
            }
            .button.hover {
                background-color: #FFF;
                border: 1px solid gray;
            }
        script(src='jq.js')
        script(src='socket.io/socket.io.js')
        script(src='paper.js')
        script(src='receiver.js')
        script(src='ui.js')
        script(src='app.js')
    body!= body