!!! 5
html
    head
        script(src='/jq.js')
        script(src='/socket.io/socket.io.js')
        script(src='/paper.js')
        script(src='/app.js')
        style
            body {
                margin: 0px;
                padding: 0px;
                overflow: hidden;
            }
    body!= body